/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
}

.atm-container {
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    position: fixed;
}

label, input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
}

input[type="text"], input[type="number"] {
    background-color: #ecf0f1;
    color: #2c3e50;
}

button {
    
    background-color: #1abc9c;
    color: #ecf0f1;
    cursor: pointer;
}

button:hover {
    background-color: #16a085;
}

.output {
    margin-top: 20px;
    background-color: #ecf0f1;
    color: #2c3e50;
    padding: 10px;
    border-radius: 5px;
}

/* Estilos del botón de salir */
button.logout {
    background-color: #e74c3c;
}

button.logout:hover {
    background-color: #c0392b;
}
